{% extends "base.html" %}
{% block title %}<img src="{{ url_for('static', filename = 'img/'+mood+'_face.jpeg')}}", width=80, height=60, quality=95 />
{% endblock %}
{% block content %}
<form action="" method="POST">
 	{{ form.csrf_token }}
 	{{ form.message.label }}
 	{{ form.message(size=200) }}
    <input type=submit value="Send">
</form>
<p> This app let's you do fancy sentiment stuff. The app will show 3 different pictures based on the emotional con-
tent of the sentence entered, and for this, it consults with an external service
through its RESTful API</p>

{% endblock %}
